/*Index: The Login Screen */
.header-font {
	font-size: 1.8em;
	padding: 0px;
	margin: 2px 0px;
	color: #ff9c00;
	height: auto;
}

.sub-font {
	padding: 0px 0px 10px 0px;
	margin: 0px;
	margin: 0px 4px 4px 0px;
	height: auto;
}

#login-section {
	height: 225px;
	width: 705px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -112.5px; 
	margin-left: -352.5px; 
}

#login-creds {
	height: 25px;
	width: 250px;
	margin-bottom: 5px;
	font-size: 1em;
}

#forgot-password {
	margin-left: 10px;
}

#login-creds {
	padding: 2px;
}

/*Signup: The Signup Page */

/*Main: The Main Tracking Area */
.league-bar {
	background-color:#000;
	border-bottom: 5px solid #333;
}

.leaguebar-navbar a {
	
}
